services:
  db:
    image: postgres:16
    container_name: jgms_db_container
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: "123456"
      POSTGRES_DB: JGMS
    ports:
      - "5433:5432"
    volumes:
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres_data:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d JGMS"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
